.header {
  height: 95px;
  padding: 10px;
}
#subText{
  color: grey;
  font-size: 13px;
}
h1  {
  float: right;
}
button {
  background-color: rgb(0, 179, 180);
  color: white;
}
.header img  {
  margin-left: 5%;
}
.mainContent  {
  margin-bottom: 30px;
}
/* .mainContent  {
  display: none;
} */
/* .namePopup  {
  text-align: center;
} */
/* #nameButton  {
  margin-top: 15px;
} */
#multQ1 {
  display: none;
}
#multQ2 {
  display: none;
}
#multQ3 {
  display: none;
}
#multQ4 {
  display: none;
}
#multQ5 {
  display: none;
}
.aLang  {
  display: none;
}
.bLang  {
  display: none;
}
.cLang  {
  display: none;
}
.dLang  {
  display: none;
}
.tieBreakerQuestion {
  display: none;
}
#tba1 {
  display: none;
}
#tba2 {
  display: none;
}
#tba3 {
  display: none;
}
#tba4 {
  display: none;
}
#footer {
  background-color: grey;
}
